body{
	max-width: 500px;
	margin: 0 auto;
	margin-top: 300px;
}

.input {
	border: 5px solid rebeccapurple;
	padding: 20px;
	
}
button {
	border: 5px solid rebeccapurple;
	padding: 20px;
	
}

.button  {
	pointer-events: none;
}

.input {
	pointer-events: none;
}

.active {
	pointer-events: auto;
}

.text {
	color: rebeccapurple;
	margin-top: 50px;
	font-size: 30px;
}